<!-- <div id="comment_<%= comment.id %>" class="reply1">
    <div class="">
        <p>
            <%#= link_to comment.author.name, user_path(comment.author), :class => 'reply4' %>Howard:<%=h comment.content %>
        </p>
        <p>
            <%#=link_to_function "reply", "reply_comment('#{comment.id}', '#{comment.commentable_id}', '#{comment.commentable_type}', '#{comment.author.name}')", :class => "" %>
        </p>
    </div>
    <div class="clear">
    </div>
</div> -->
<div id="comment_<%= comment.id %>">
<p class="comment"><span class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago</span> <%=h comment.content %></p>
</div>
