<div id="comments_for_<%= gallery.id %>">
    <% if gallery.comments.count < 4 %>
    <%= render :partial => gallery.comments %>
    <% else %>
    <%= render :partial => gallery.comments.first %>
    <div class="" href="#">
        <span><%= link_to_remote "show all comments", :url => { :controller => "comments", :action => "show_more", :gallery_id => gallery.id} %></span>
    </div>
    <%= render :partial => gallery.comments.last %>
    <% end %>
</div>

<div >
    <%= render :partial => 'comments/create_comment', :locals => {:gallery => gallery} %>
</div>
