<%# if logged_in? %>
<div id="comment_errors">
</div>
<div class="">
    <div class="clear">
    </div>
    <!-- <textarea class="" onblur="if(this.value==''){this.value='Reply Here'}" onclick="this.value='';" value="Reply Here">
Reply Here.
    </textarea> -->
</div>
<% remote_form_for :comment, :url => add_comment_path do |c| %>
<div id="add_comment_<%= gallery.id %>" class="">
    <%= c.text_area :content, :id => "comment_content_"+gallery.id.to_s, :size => "25", :class => '' %>
    <%= hidden_field_tag 'gallery_id', gallery.id.to_s %>
    <%= hidden_field_tag 'comment_id', nil, :id => "hidden_reply_comment_"+gallery.id.to_s %>
	<%= submit_tag('submit', :class => '') %>
    <div class="clear">
    </div>
	<%= c.error_messages %>
    <% end %>
</div>
<%# end %>
