<p>
  <b>Title:</b>
  <%=h @publication.title %>
</p>

<p>
  <b>Image:</b>
  <%=h @publication.image %>
</p>

<p>
  <b>Board:</b>
  <%=h @publication.board %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>