<h1>New layer</h1>

<% form_for @layer, :url=>{:action=>"create"} do |f| %>
  <%= f.error_messages %>

  <%= hidden_field_tag :board_id, @layer.board_id%>
  <%= hidden_field_tag :token, params[:token] %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', @board %>
