<p>
  <b>Board:</b>
  <%=h @layer.board %>
</p>

<p>
  <b>Token:</b>
  <%=h @layer.token %>
</p>

<p>
  <b>Order:</b>
  <%=h @layer.order %>
</p>


<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %>