<h1>Editing board</h1>

<% form_for(@board) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @board %> |
<%= link_to 'Back', boards_path %>