<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head>
<title><%=h @board.title %> - Whiteboard</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/wh.css" />
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript">
  var boardid = '<%= @board.id %>';
  var token = '<%= escape_javascript(params[:token]) %>';
  var layerid = '<%= @current_layer.id if @current_layer %>';
  var revision = <%= Time.now.to_i %>;
</script>
</head><body><div id="central">
<h1 id="title"><a href="/">Whiteboard</a></h1>

<div id="layers" class="edge">
<% if @board.permission(params[:token]) == :owner %>
  <h3>Layers <a id="rearrangeLayers" href="#">rearrange</a></h3>
  <ul id="layerList" class="owned">
    <% @board.layers.all(:order => '"order" DESC').each do |layer| %>
      <li id="li<%= layer.id %>">
        <span>
          <input id="visible<%= layer.id %>" class="visible" type="checkbox"<%= layer.visible ? 'checked' : '' %> />
          <input id="opacity<%= layer.id %>" class="opacity" type="text" value="<%= layer.opacity %>" />
          <a class="url" href="?token=<%= layer.token %>"><img src="/images/link.png" /></a>
          <%=h layer.name %>
        </span>
      </li>
    <% end %>
  </ul>
  <%= link_to '<img src="/images/plus.png" alt="+" /> New layer...</a>', new_board_layer_path(@board, :token => params[:token]), :id => :newlayer %>
<% else %>
  <h3>Layers</h3>
  <ul id="layerList">
    <% @board.layers.all(:order => '"order" DESC').each do |layer| %>
      <li><%=h layer.name %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div id="chatcontainer" class="edge">
<h3>Chat</h3>
<div id="chat">
<% @board.chats.each do |chat| %>
  <p>
    <span><%=h chat.author %>: </span>
    <%=h chat.body %>
  </p>
<% end %>
</div>
<form id="chatform" method="post" action="<%=h board_path(@board) %>/chats">
<input type="hidden" name="token" value="<%=h params[:token] %>">
<p><input id="chatbody" name="body" /></p>
<input type="submit" style="display:none;" value="Chat" />
</form>
</div>

<h2><%= @board.title %> <span><a id="public" class="url" href="<%=h board_path(@board) %>"><img src="/images/link.png" /> add viewer</a></span></h2>
<div id="container">
  <% @board.layers.each do |layer| %>
    <img id="layer<%= layer.id %>" style="z-index:<%= layer.order %>;opacity:<%= layer.opacity / 100.0 %>;visibility:<%= layer.visible ? 'visible' : 'hidden' %>;" src="<%=h layer.data %>" />
  <% end %>
</div>

<% if @board.permission(params[:token]) == :owner %>
  <a id="publish" href="#">Publish</a>
<% end %>

<% if @board.permission(params[:token]) != :viewer %>
  <ul id="toolbar">
    <li><a id="defaultwidth" class="width" href="#"><span style="width:2px;"></span></a></li>
    <li><a class="width" href="#"><span style="width:4px;"></span></a></li>
    <li><a class="width" href="#"><span style="width:8px;"></span></a></li>
    <li><a class="width" href="#"><span style="width:16px;"></span></a></li>
    <li><a id="eraser" href="#"></a></li>
    <li><a id="defaultcolor" class="color" href="#" style="background-color:black;"></a></li>
    <li><a class="color" href="#" style="background-color:red;"></a></li>
    <li><a class="color" href="#" style="background-color:yellow;"></a></li>
    <li><a class="color" href="#" style="background-color:lime;"></a></li>
    <li><a class="color" href="#" style="background-color:cyan;"></a></li>
    <li><a class="color" href="#" style="background-color:blue;"></a></li>
    <li><a class="color" href="#" style="background-color:magenta;"></a></li>
  </ul>
<% end %>

<script type="text/javascript">init();</script>
</div></body></html>
