<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head>
<title>Whiteboard Gallery</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/wh.css" />
</head><body id="gallery">
<h1 id="title"><a href="/">Whiteboard</a></h1>
<% if @offset > 0 %>
  <a id="bigLeft" class="side" href="?offset=<%= (@offset - 6).to_i %>&sort=<%=h @sort %>" >
    <img src="/images/prev.png" />
    <span class="caption">&laquo;&nbsp;Previous&nbsp;page</span>
  </a>
<% end %>
<% if Gallery.count > @offset + 6 %>
  <a id="bigRight" class="side" href="?offset=<%= (@offset + 6).to_i %>&sort=<%=h @sort %>" >
    <img src="/images/next.png" />
    <span class="caption">Next&nbsp;page&nbsp;&raquo;</span>
  </a>
<% end %>
<h2>Gallery</h2>
<div id="search_bar"><% form_tag search_path do %>
   <p>Search here: <%= text_field_tag :search, params[:search] %><%= submit_tag "Search", :name => nil %></p>
<% end %></div>

<%= render :partial=>'showGallery', :locals=>{:sorted_galleries => @galleries, :sortBy=>@sort, :offsetNum=>@offset, :hide=>@hide} %>

</body></html>
